

body {
    
    width: 100%;
    min-height: 100%;
    display: block;
    grid-template-areas:
    "site";
    grid-template-rows: auto;
    grid-template-columns: auto;
    margin: 0;
    background-color: #222733;
    position: relative;
    font-family: Recursive, sans-serif;
}
body {
    
}


/* BODY CONTAINER */
.body-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}


/* STAR WHEEL */
#background-svg {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
    max-height: 998px;
}
#background-svg svg {
    position: relative;
    top: -305vw;
    left: 50%;
    width: 400vw;
    height: 400vw;
    margin-left: -200vw;
    animation-name: starwheel;
    animation-duration: 1000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}
.custom-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.custom-button a {
    position: relative;
    z-index: 1;
    display: block;
    color: rgb(219, 232, 212);
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: center;
}
.custom-button a span {
    background-color: rgb(129, 199, 188);
    top: 50%;
    position: relative;
    padding: 10px;
}

.custom-button a:hover::before {
    width: 40%;
}
.custom-button a:hover::after {
    width: 50%;
}
.custom-button a:hover:after {
    content: "●";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
    color: var(--wp--preset--color--muted);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    height: 100%;
    animation: 2s linear infinite reverse orbit-button;
    transform-origin: left;
    transition: width var(--wp--custom--transitions--slow) ease-out;
}
.custom-button a:hover:before {
    content: "●";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    color: var(--wp--preset--color--muted);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 50%;
    height: 100%;
    animation: 3s linear infinite orbit-button;
    transform-origin: right;
    transition: width var(--wp--custom--transitions--slow) ease-out;
}
.custom-button a:after {
    content: "●";
    display: none;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
    color: var(--wp--preset--color--muted);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 61%;
    height: 91%;
    width: 38px;
    animation: 2s linear infinite reverse orbit-button;
    transform-origin: left;
    transition: width var(--wp--custom--transitions--slow) ease-out;
}
.custom-button a:before {
    content: "●";
    display: none;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    color: var(--wp--preset--color--muted);
    position: absolute;
    z-index: 0;
    top: 16px;
    right: 61%;
    height: 100%;
    width: 79px;
    animation: 3s linear infinite orbit-button;
    transform-origin: right;
    transition: width var(--wp--custom--transitions--slow) ease-out;
}
@keyframes orbit-button {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


main {
    top: -831px;
    position: relative;
    display: block;
    text-align: center;
    font-size: 23px;
    margin: 0 auto;
    max-width: 50%;
    color: rgb(219, 232, 212);
    font-family: Recursive, sans-serif;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: rgb(129, 199, 188);
}
p {
    font-family: Recursive, sans-serif
}
/* HEADER */
.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-container .header-logo img {
    width: 60px; /* Ajustați dimensiunea imaginii pătrate */
    height: 60px;
    border-radius: 50%; /* Aceasta face colțurile să fie rotunde */
    overflow: hidden;
}
.header-container .header-logo {
    width: auto;
    display: flex;
    align-items: center;
}
.header-container .custom-menu {
    width: auto;
    display: flex;
    align-items: center;
}
.header-container .custom-menu ul {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}
.header-container .custom-menu ul li {
    padding: 10px;
    list-style-type: none;
}
.header-container .custom-menu ul li a {
    color:rgb(219, 232, 212);
    padding: 10px;
}




.vibrate-1:hover {
	-webkit-animation: vibrate-1 0.9s linear infinite both;
	        animation: vibrate-1 0.9s linear infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-7 21:48:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  

.block-separator {
    border: none;
    position: relative;
    overflow: visible;
    overflow-x: visible;
    overflow-x: clip;
    line-height: 1;
    text-align: center;
    top: -706px;
}

.block-separator:after {
    content: "••";
    display: block;
    font-family: serif;
    font-size: 4rem;
    letter-spacing: 2em;
    padding-left: 2em;
    position: absolute;
    top: 0;
    left: 43%;
    margin-left: -14rem;
    width: 28rem;
    max-width: none;
    height: auto;
    text-align: center;
    background-color: transparent;
    animation: 2s ease-in-out infinite alternate dots-float;
}
.block-separator:before {
    content: "●";
    display: block;
    max-width: none;
    height: auto;
    padding: 0;
    font-family: inherit;
    font-size: 4rem;
    letter-spacing: normal;
    text-align: center;
    background-color: transparent;
    animation: -1s ease-in-out 2s infinite alternate dots-float;
}
@keyframes dots-float {
    from {
      transform:translateY(0)
    }
    to {
      transform:translateY(.25em)
    }
  }


.custom-about-me {
    top: -592px;
    position: relative;
    color: rgb(219, 232, 212);
    text-align: center;
    font-size: 23px;
    max-width: 50%;
    margin: 0 auto;
}

#canvas1 {
    width: 100%;
    height: 100%;
    outline: 2px slateblue solid;
    margin: auto;
    cursor: none;
  }
  .canva {
    background: linear-gradient(
    129deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
  }

  .carousel {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
  }
  
  .carousel-item {
    --items: 10;
    --width: clamp(150px, 30vw,  300px);
    --height: clamp(200px, 40vw,  400px);
    --x: calc(var(--active) * 800%);
    --y: calc(var(--active) * 200%);
    --rot: calc(var(--active) * 120deg);
    --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
    overflow: hidden;
    position: absolute;
    z-index: var(--zIndex);
    width: var(--width);
    height: var(--height);
    margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    user-select: none;
    transform-origin: 0% 100%;
    box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .5);
    background: black;
    pointer-events: all;
    transform:  translate(var(--x), var(--y)) rotate(var(--rot)) ;
    transition: transform .8s cubic-bezier(0, 0.02, 0, 1);
  
    .carousel-box {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
      opacity: var(--opacity);
      font-family: 'Orelo-sw-db', serif;
  
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5));
      }
    }
  
    .title {
      position: absolute;
      z-index: 1;
      color: #fff;
      bottom: 20px;
      left: 20px;
      transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
      font-size: clamp(20px, 3vw, 30px);
      text-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    }
  
    .num {
      position: absolute;
      z-index: 1;
      color: #fff;
      top: 10px;
      left: 20px;
      transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
      font-size: clamp(20px, 10vw, 80px);
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }
  
  .layout {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 90px;
      width: 10px;
      height: 100%;
      border: 1px solid #fff;
      border-top: none;
      border-bottom: none;
      opacity: .15;
    }
  
    .box {
      position: absolute;
      bottom: 0;
      left: 30px;
      color: #fff;
      transform-origin: 0% 10%;
      transform: rotate(-90deg);
      font-size: 9px;
      line-height: 1.4;
      text-transform: uppercase;
      opacity: .4;
    }
  }
  
  .logo {
    position: absolute;
    z-index: 2;
    top: 28px;
    right: 28px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orelo-sw-db', serif;
    pointer-events: all;
    color: black;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    padding-bottom: .1em;
  }
  
  .social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 25px;
    color: #fff;
    opacity: .4;
  
    a {
      display: inline-block;
      margin-left: 3px;
    }
  
    svg {
      --fill: #fff;
      width: 35px;
      height: 35px;
    }
  }
  
  .cursor {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .2);
    margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
    transition: transform .85s cubic-bezier(0, 0.02, 0, 1);
    display: none;
    pointer-events: none;
    
    @media (pointer: fine) {
      display: block;
    }
  }
  
  .cursor2 {
    --size: 2px;
    transition-duration: .7s;
  }
  





  body .footer {
    z-index: 1;
    --footer-background:#2e3340;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
  }
  body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
  }
  body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: rgba(255, 255, 255, .2);
  }
  body .footer .content a, body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
  body .footer .content b {
    color: white;
  }
  body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
  body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .footer .content > div > div {
    margin: 0.25rem 0;
  }
  body .footer .content > div > div > * {
    margin-right: 0.5rem;
  }
  body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }





  .full-screen-3d-example {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.full-screen-3d-example.-loaded {
    opacity: 1;
}














:root {
    --blue-rgb: 92 192 249;
    --green-rgb: 125 161 35;
    --brown-rgb: 127 46 23;
  }


  
  body:has(.card[data-color="blue"]:hover) {
    background-color: rgb(var(--blue-rgb) / 25%);
  }
  
  body:has(.card[data-color="blue"]:hover) {
    background-color: rgb(var(--blue-rgb) / 25%);
  }
  
  body:has(.card[data-color="green"]:hover) {
    background-color: rgb(var(--green-rgb) / 25%);
  }
  
  body:has(.card[data-color="brown"]:hover) {
    background-color: rgb(var(--brown-rgb) / 25%);
  }
  
  #cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .card {
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: scale 100ms;
  }
  
  .card .card-front-image {
    position: relative;
    z-index: 2;
  }
  
  .card .card-image {
    width: clamp(300px, 20vw, 500px);
    aspect-ratio: 2 / 3;
    border-radius: clamp(0.5rem, 0.75vw, 2rem);
  }
  
  .card-faders {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1500ms;
    pointer-events: none;
  }
  
  .card:hover .card-faders {
    opacity: 1;
  }
  
  .card:active {
    scale: 0.98;
  }
  
  .card-fader {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  .card-fader:nth-child(odd) {
    animation: fade-left 3s linear infinite;
  }
  
  .card-fader:nth-child(even) {
    animation: fade-right 3s linear infinite;
  }
  
  .card-fader:is(:nth-child(3), :nth-child(4)) {
    animation-delay: 750ms;
  }
  
  .card-fader:is(:nth-child(5), :nth-child(6)) {
    animation-delay: 1500ms;
  }
  
  .card-fader:is(:nth-child(7), :nth-child(8)) {
    animation-delay: 2250ms;
  }
  
  @media(max-width: 1200px) {
    body {    
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    #cards {
      flex-direction: column; 
      align-items: center;
      gap: 4rem;
      padding: 4rem;
    }
    
    .card .card-image {
      width: 400px;    
    }
  }
  
  @media(max-width: 600px) {
    #cards {
      gap: 2rem;
      padding: 2rem;
    }
    
    .card {
      width: 80%;    
    }
    
    .card .card-image {
      width: 100%;    
    }
  }
  
  @keyframes fade-left {
    from {
      scale: 1;
      translate: 0%;
      opacity: 1;
    }
    
    to {
      scale: 0.8;
      translate: -30%;
      opacity: 0;
    }
  }
  
  @keyframes fade-right {
    from {
      scale: 1;
      translate: 0%;
      opacity: 1;
    }
    
    to {
      scale: 0.8;
      translate: 30%;
      opacity: 0;
    }
  }












  * {
    box-sizing: border-box;
  }
  
  :root {
    --background: #f9d877;
  }
  

  body .folder {
    grid-column: 1/-1;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  .tab {
    font-family: "Patrick Hand";
    text-transform: uppercase;
    line-height: 0.8;
    display: inline-block;
    margin-left: -35px;
    filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.05));
    border: none;
    border-radius: 6px 6px 0 0;
    position: relative;
    margin-right: 4rem;
    background: var(--background);
    white-space: nowrap;
    cursor: pointer;
    background: var(--background);
  }
  .tab:focus {
    outline: none;
  }
  .tab:focus span {
    border-bottom: 2px solid;
    border-radius: 0;
  }
  .tab:first-of-type {
    margin-left: 30px;
  }
  .tab div {
    background: var(--background);
    padding: 6px 0;
    position: relative;
    z-index: 10;
  }
  .tab span {
    display: inline-block;
    border: 2px solid transparent;
    padding: 6px 15px 6px;
    border-radius: 5px;
    z-index: 5;
    position: relative;
    font-size: 140%;
    color: #fff;
    min-width: 6rem;
  }
  .tab:before, .tab:after {
    content: "";
    height: 100%;
    position: absolute;
    background: var(--background);
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;
  }
  .tab:before {
    right: -16px;
    transform: skew(25deg);
    border-radius: 0 8px 0 0;
  }
  .tab:after {
    transform: skew(-25deg);
    left: -16px;
    border-radius: 8px 0 0 0;
  }
  .tab.active {
    z-index: 50;
    position: relative;
  }
  .tab.active span {
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: black;
  }
  
  .content {
    border-radius: 10px;
    position: relative;
    width: 100%;
  }
  .content #tab-1 {
    display: block;
  }
  .content:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: inherit;
  }
  .content__inner {
    font-family: "Yomogi", sans-serif;
    display: none;
    background: var(--background);
    border-radius: inherit;
    padding: 1rem;
    filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.1));
    z-index: 5;
  }
  
  .folder {
    margin: 1rem auto;
    max-width: 50rem;
    width: 100%;
    scrollbar-height: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
  }
  .folder ::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    display: none;
  }
  
  .page {
    padding: 1.5rem;
    border-radius: 2px;
    min-height: 20rem;
    line-height: 160%;
    background-color: #f9f9f9;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(#e4e4e4 1px, transparent 1px);
    background-size: 8% 8%, 2px 2px;
  }
  
  .tabs {
    padding: 2rem 0 0 0;
    width: 100%;
    margin: 0 0.5rem;
    overflow-x: auto;
    width: calc(100% - 1rem);
    white-space: nowrap;
  }
  @media (min-width: 50rem) {
    .tabs {
      margin: 0 2rem;
      width: calc(100% - 4rem);
    }
  }
  
  #solid:checked ~ .folder .tab:nth-of-type(1),
  #solid:checked ~ .folder .content__inner:nth-of-type(1) {
    --background: #af4d98;
  }
  #solid:checked ~ .folder .tab:nth-of-type(2),
  #solid:checked ~ .folder .content__inner:nth-of-type(2) {
    --background: #d66ba0;
  }
  #solid:checked ~ .folder .tab:nth-of-type(3),
  #solid:checked ~ .folder .content__inner:nth-of-type(3) {
    --background: #e5a9a9;
  }
  #solid:checked ~ .folder .tab:nth-of-type(4),
  #solid:checked ~ .folder .content__inner:nth-of-type(4) {
    --background: #6cb6bb;
  }
  #solid:checked ~ .folder .tab {
    border: 2px solid;
    border-width: 2px 0 0;
  }
  #solid:checked ~ .folder .tab:before, #solid:checked ~ .folder .tab:after {
    top: -2px;
    border-top: 2px solid;
  }
  #solid:checked ~ .folder .tab:before {
    border-right: 2px solid;
  }
  #solid:checked ~ .folder .tab:after {
    border-left: 2px solid;
  }
  #solid:checked ~ .folder .tab.active span {
    border: 2px solid;
  }
  #solid:checked ~ .folder .tab.active:focus span {
    outline: 1px solid rgba(255, 255, 255, 0.7);
  }
  #solid:checked ~ .folder .tab:not(.active) {
    border-bottom: 2px solid;
  }
  #solid:checked ~ .folder .tab:not(.active):before, #solid:checked ~ .folder .tab:not(.active):after {
    box-shadow: 0 1.5px 0 black;
  }
  #solid:checked ~ .folder .content {
    top: -2px;
    left: -2px;
  }
  #solid:checked ~ .folder .content__inner {
    box-shadow: 0 0 0 1.5px black;
  }
  #solid:checked ~ .folder .page {
    border: 2px solid;
  }
  
  #shadow:checked ~ .folder .tab {
    --background: linear-gradient(to bottom, #fee9a5, #f9d877);
  }
  #shadow:checked ~ .folder .tab span {
    color: black;
  }
  #shadow:checked ~ .folder .tab:focus span {
    border-bottom-color: black;
  }
  #shadow:checked ~ .folder .tab.active:focus span {
    border-color: black;
  }
  #shadow:checked ~ .folder .content__inner {
    --background: linear-gradient(to bottom, #f9d877, #fee9a5);
  }
  
  /* radio buttons styling */
  input.variation {
    display: none;
  }
  input.variation + label {
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  input.variation + label .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid white;
  }
  input.variation:checked + label .circle {
    background: white;
    box-shadow: inset 0 0 0 3px #3c1053;
  }
  input.variation:nth-of-type(1) + label {
    justify-self: flex-end;
  }